* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Adobe Clean', Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #000;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
}

.chat-window {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.message {
  max-width: 80%;
  padding: 20px;
  border-radius: 8px;
  line-height: 1.5;
}

.message.user {
  color: #fff
}

.message.bot {
  max-height: 500px;
  overflow: scroll;
}

.user {
  align-self: flex-end;
  background-color: #7155fa;
}

.bot {
  align-self: flex-start;
  background-color: #F8F8F8;
  white-space: pre-wrap;
}

.input-area {
  display: flex;
  border-top: 1px solid #f8f8f8;
  position: sticky;
  width: 100%;
  margin: auto;
  bottom: 0;
  margin-bottom: 20px;
  margin: 10px 0;
  padding: 0 20px;
}

#user-input {
  flex: 1;
  font-family: 'Adobe Clean', Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 6px 0 0 6px;
  resize: none;
  background-color: #eaeaea;
  color: #505050;
  padding: 20px;
  outline: none;
}

@media screen and (max-width: 600px) {
  .message {
    min-width: 250px;
    max-width: 250px;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .message {
    min-width: 500px;
    max-width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .message {
    min-width: 800px;
    max-width: 800px;
  }
}

#send-btn {
  background-color: #eaeaea;
  color: white;
  border: none;
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  transition: background-color 0.2s;
  margin: 0;
}

#send-btn:hover {
  background-color: #eaeaea;
}

.message .icon {
  font-size: 18px;
  color: #ffff;
  position: sticky;
  top: -5px;
  left: 95%;
  cursor: pointer;
  display: flex;
  border-radius: 8px;
  padding: 6px;
  width: 35px;
}

.message .icon svg {
  height: 24px;
  width: 24px;
  fill: #000;
}

.message ul,
.message ol {
  padding-left: 12px;
}

.message .has-iframe {
  width: 80%;
  height: 600px;
  min-height: 500px;
}

.message iframe {
  width: 100%;
  height: 500px;
  min-height: 500px;
}

.message a.user {
  color: #fff;
}

.message a.bot {
  color: #000;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  padding: 20px;
  margin: 20px;
}

.loader.hide {
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#send-btn svg {
  height: 20px;
  width: 20px;
  fill: gray;
}

#send-btn svg path {
  fill: gray;
}
