* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Adobe Clean', 'Trebuchet MS', sans-serif;
  background-color: #fff;
  color: #000;
}

.sidebar * {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-wrapper * {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-wrapper *::-webkit-scrollbar {
  display: none;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
}

.chat-background {
  background-image: url("https://main--cc--adobecom.aem.live/drafts/mathuria/figma-to-da/stream_bg/media_107c23847c06427fc79def01c9eee67464f8897d2.jpg?format=webply&optimize=medium");
  background-repeat: no-repeat; 
  background-size: auto 100%;
  background-position: center;
  background-color: #fff7f6;
  /* opacity: 0.5; */
  z-index: 0;
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
}

.chat-window {
  position: relative;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  display: none;
  z-index: 1;
  margin-left: 40px;
  margin-bottom: 40px;
}

.message {
  max-width: 80%;
  padding: 20px;
  border-radius: 20px;
  line-height: 1.5;
}

.message.user {
  color: #fff;
  animation: slideFade 0.5s ease-out forwards;
}

.message.bot {
  max-height: 550px;
  overflow: scroll;
  animation: slideFade 0.5s ease-out forwards;
}

@keyframes slideFade {
  to {
    opacity: 1;
  }
}

.user {
  align-self: flex-end;
  background-color: #7155fa;
}

.bot {
  align-self: flex-start;
  background-color: #eaeaea;
  white-space: pre-wrap;
}

.input-area {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  margin: 10px auto;
  padding: 0 20px;
  bottom: 12%;
  max-width: 1400px;
  z-index: 1;
  top: 50%;
}

.input-area.to-bottom {
  bottom: 10%;
  transition: bottom 0.5s ease;
  position: sticky;
}

#user-input {
  flex: 1;
  font-family: 'Adobe Clean', Helvetica, Arial, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 200px 0 0 200px;
  resize: none;
  background-color: #eaeaea;
  color: #505050;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  outline: none;
  line-height: 1.5;
  border-left: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
}

@media screen and (max-width: 600px) {
  .message {
    min-width: 250px;
    max-width: 250px;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .message {
    min-width: 500px;
    max-width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .message {
    min-width: 800px;
    max-width: 800px;
  }
}

.message.has-iframe {
  min-width: 80%;
  max-width: 80%;
  max-height: 550px;
}

#send-btn {
  background-color: #eaeaea;
  color: white;
  border: none;
  padding: 0 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0 200px 200px 0;
  transition: background-color 0.2s;
  margin: 0;
  width: 80px;
  border-right: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
}

#send-btn:hover {
  background-color: #eaeaea;
}

.message .icon {
  font-size: 18px;
  color: #ffff;
  position: sticky;
  top: -5px;
  left: 95%;
  cursor: pointer;
  display: flex;
  border-radius: 8px;
  padding: 6px;
  width: 35px;
}

.message .icon svg {
  height: 24px;
  width: 24px;
  fill: #000;
}

.message ul,
.message ol {
  padding-left: 12px;
}

.message.has-iframe {
  width: 80%;
  height: 550px;
  min-height: 550px;
}

.message iframe {
  border: none;
  width: 100%;
  height: 500px;
  min-height: 500px;
}

.message.user a {
  color: #fff;
}

.message.bot a {
  color: #000;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #7155fa;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  padding: 20px;
  margin: 20px;
}

.loader.hide {
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#send-btn svg {
  height: 24px;
  width: 24px;
  fill: #505050f0;
}

#send-btn svg path {
  fill: #505050f0;
}


/* Thumbnail styling */
.thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: 0.3s;
}
.thumbnail:hover {
  border-color: #333;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  margin: 10% auto;
  display: block;
  max-width: 90%;
  width: auto;
  height: 200%;
}

.close {
  position: absolute;
  top: 30px;
  right: 50px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.message.has-thumbnails {
  width: auto;
  min-width: auto;
}

.message.has-thumbnails img {
  width: 100px;
  height: auto;
  min-width: auto;
}

.message.has-thumbnails img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.message .disclaimer {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  color: rgba(102, 100, 100, 0.914)
}

.chat-wrapper .card-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 20px;
  z-index: 1;
}

.chat-wrapper .section-heading {
  font-size: 38px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* height: 300px; */
  margin-top: 12%;
  margin-bottom: 7%;
  max-height: 50%;
  z-index: 1000;
}

.chat-wrapper .section-heading .cursive {
  background: linear-gradient(90deg,#ba56f8 15%,#75049f 35%,#ba56f8 75%,#75049f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-clip: text;
  color: transparent;
  animation: streambg 5s linear infinite;
}

@keyframes streambg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.chat-wrapper .card-section .card-container {
  display: flex;
  width: 95%;
  gap: 18px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  padding: 20px;
}

.chat-wrapper .card-section .card {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  position: relative;
}

.chat-wrapper .card-section .card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.chat-wrapper .card-section .card-icon {
  width: 40px;
  height: 40px;
  filter: hue-rotate(79deg) saturate(292%);
}

.chat-wrapper .card-section .card-title {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  color: #34495e;
  gap: 10px;
  align-items: center;
  color: #3e3e3e;
}

.chat-wrapper .card-section .card-text {
  font-size: 12px;
  color: #7f8c8d;
  margin: 0;
  line-height: 1.5;
}

.chat-wrapper .card-section .card .card-overlay {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  margin: -20px;
  background-color: #d3d3d3;
  border-radius: 12px;
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  .chat-wrapper .section-heading {
    flex-direction: column;
  }
  
  .chat-wrapper .card-section .card {
    height: 100px;
    width: 200px;
  }

  .chat-wrapper .card-section .card-title {
    font-size: 14px;
  }

  .chat-wrapper .card-section .card-text {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .chat-wrapper .section-heading {
    flex-direction: column;
  }

  .chat-wrapper .card-section .card {
    height: 100px;
    width: 100px;
  }

  .chat-wrapper .card-section .cars-title {
    width: 100%;
  }

  .chat-wrapper .card-section .card-title .card-icon {
    margin: auto;
  }

  .chat-wrapper .card-section .card-title h3 {
    display: none;
  }
}

.toggle-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1001;
  padding: 5px;
  font-size: 18px;
  background-color: #eaeaea;
  color: black;
  border: none;
  cursor: pointer;
  transition: left 0.3s ease;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-btn.home {
  top: 60px;
}

.toggle-btn svg {
  height: 20px;
  width: 20px;
}

.toggle-btn svg path {
  stroke: #505050f0;
  fill: #505050f0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #000c;
  color: white;
  padding: 10px;
  padding-top: 15px;
  transition: left 0.3s ease;
  z-index: 1000;
  font-size: 18px;
  line-height: 1.5;
}

.sidebar.open {
  left: 0;
}

.sidebar.open + .toggle-btn {
  left: 210px;
  top: 22px;
  height: 30px;
  width: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin: 30px 0;
  max-height: 90%;
  overflow: scroll;
}

.sidebar ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.sidebar ul li {
  color: white;
  text-decoration: none;
  background: #dadada;
  padding: 10px;
  padding-right: 0;
  border-radius: 5px;
  color: #000;
  display: flex;
  gap: 8px;
}

.sidebar ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.sidebar ul li div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.sidebar ul li svg {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.sidebar ul li .edit svg {
  fill: #2e2c2cba;
}

.sidebar ul li .delete svg {
  fill: #b30b00ba;
}

.content {
  margin-left: 20px;
  padding: 60px 20px;
}
